<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Emils Online</title>
  <meta name="description" content=""/>
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/gradients.css" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <header>
      <nav class="website-nav">
        <ul>
          <li><a class="home-link" href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <section class="page-content">
      <article>
        <h1>About Me</h1>
        <p>I'm a writer for a travel app. I know all the good spots in all the good cities.</p>

        <h2>Current Job</h2>
        <p>Managing Editor at Porter and Sail</p>

        <p>I write the travel guides!</p>

        <p>Last week I was in Poland!</p>

      </article>
    </section>
    <div class="push"></div>

  </div>
  <footer>
    <p class="footer-contents">Created by Churro
    </p>
  </footer>

  <script src="js/set-background.js"></script>
</body>
</html>
